(
    // --- Секция ограничений пользователя ---
    user: Some((
        // Максимальная длина имени пользователя
        name_len: 20,
        // Максимальная общая длина всех никнеймов
        global_nickname_len: 15,
        // Максимальная общая длина произношений всех никнеймов
        global_nickname_pronounce_len: 25,
        // Максимальное количество предыдущих никнеймов
        prevision_nicknames_max_count: 0,
    )),

    // --- Секция ограничений специальностей ---
    specifications_count: (
        6,  // Максимальное количество специальностей
        30, // Максимальная длина каждой специальности
    ),

    // --- Секция ограничений "О себе" ---
    about: Some(250), // Максимальная длина текста "О себе"

    // --- Секция ограничений репозиториев ---
    repositories: (
        4,  // Максимальное количество репозиториев
        30, // Максимальная длина названия репозитория
    ),

    // --- Секция ограничений социальных сетей ---
    socials: Some(6), // Максимальное количество социальных ссылок

    // --- Секция ограничений навыков ---
    skills: (
        9,  // Максимальное количество навыков
        (
            skill_len: 25, // Максимальная длина названия навыка
            projects: None,
            since: true,
            main: true,
            repo_link: true,
        )
    ),
)
