<!DOCTYPE html>
<html lang="en" class="h-full w-full">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{{ font | safe }}" rel="stylesheet">
<!-- Meta -->
<meta name="keywords" content="{{ meta_keywords_string | safe }}"/>
<!-- OG -->
<meta name="title" property="og:title" content="{{ meta_title | safe }}">
<meta name="description" property="og:description" content="{{ meta_description }}">
<meta name="author" content="{{ meta_author }}">
<!-- img -->
<meta name="image" property="og:image" content="{{ meta_image_link | safe }}">
<meta property="og:image:secure_url" content="{{ meta_image_link_secure | safe }}">
<meta property="og:image:type" content="{{ meta_image_type | safe }}">
<meta property="og:image:alt" content="{{ meta_description }}">

<!-- OG General -->
<meta property="og:locale" content="{{ meta_og_locale }}">
<meta property="og:site_name" content="{{ meta_og_site_name | safe }}">
<meta property="og:type" content="{{ meta_og_type }}">

<!-- Facebook -->
<meta property="article:author" content="{{ meta_author }}">
<meta property="article:section" content="{{ meta_title | safe }}">
{% for keyword in meta_keywords_list %}
<meta property="article:tag" content="{{ keyword | safe }}">
{% endfor %}

<!-- Discord -->
<meta name="theme-color" content="{{ meta_discord_theme_color }}">

<!-- Twitter -->
<meta name="twitter:creator" name="x:creator" content="{{ meta_author }}">
<meta name="twitter:title" name="x:title" content="{{ meta_title | safe }}">
<meta name="twitter:description" name="x:description" content="{{ meta_description }}">
<meta name="twitter:image" name="x:image" content="{{ meta_image_link | safe }}">
<meta name="twitter:image:alt" name="x:image:alt" content="{{ meta_description }}">

<style>
{{ style | safe }}
</style>
</head>
<body class="h-full w-full">
{{ card | safe }}
</body>
</html>
