<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        mono: ['PT Mono', 'monospace'],
                    },
                },
            },
        };
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen bg-[{{ shade.colors.secondary }}] flex justify-center items-center p-4">
    <div class="max-w-md w-full bg-black/20 rounded-2xl border border-black p-1">
        <div class="p-4 rounded-lg border-t-2 border-b-2 border-[{{ shade.colors.thirdly }}] flex flex-col gap-4">

        <div class="flex justify-evenly items-center gap-4 text-[{{ shade.colors.primary }}]">
            <div class="text-lg md:text-xl font-bold font-mono">
                Some({{ user.nickname.word }})
            </div>
            <div class="flex items-center">
                <span class="text-2xl md:text-3xl font-mono">[</span>
                <div class="flex flex-col items-center mx-2">
                    <span class="text-xs md:text-sm font-mono">{{ user.nickname.word }}</span>
                    <span class="text-[10px] md:text-xs text-[{{ shade.colors.thirdly }}]/80 font-mono tracking-widest">
                        {{ user.nickname.pronounce  }}
                    </span>
                </div>
                <span class="text-2xl md:text-3xl font-mono">]</span>
            </div>
        </div>



        <div class="grid grid-cols-2 gap-2 md:gap-4">
            <div class="grid gap-2">
                {% for spec in specs %}
                    <div class="text-[{{ shade.colors.primary }}] flex items-center max-w-[120px]">
                        <span class="text-xl md:text-2xl font-mono w-[15px]">[</span>
                        <span class="text-xs md:text-sm font-mono text-center flex-1">{{ spec }}</span>
                        <span class="text-xl md:text-2xl font-mono w-[15px]">]</span>
                    </div>
                {% endfor %}
            </div>
            <div class="text-[{{ shade.colors.thirdly }}] text-right font-mono text-sm md:text-base max-h-[{{ about.max_length }}px]">
                {{ about.text }}
            </div>
        </div>

            <div class="grid grid-cols-3 gap-8 md:gap-20 text-[{{ shade.colors.primary }}]">
                {% for social in socials %}
                    <div class="flex items-center justify-center">
                        <span class="text-xl md:text-2xl font-mono">[</span>
                        <div class="h-[48px] flex-col justify-evenly items-center inline-flex">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-[{{ shade.colors.thirdly }}] size-12 md:size-20" {{ social.logo }}
                            </svg>
                            <div class="flex">
                              <a href="{{ social.link }}" class="text-xs md:text-sm font-mono">
                                  {{ social.provider }}
                              </a>
                            </div>
                        </div>
                        <span class="text-xl md:text-2xl font-mono">]</span>
                    </div>
                {% endfor %}
            </div>

            <div class="flex justify-evenly gap-4">
                {% for skill in skills %}
                    <div class="text-center">
                        <div class="text-xl md:text-2xl text-[{{ shade.colors.primary }}] font-mono">
                            {{ skill.skill }}
                        </div>
                        {% if skill.since %}
                            <div class="text-xs md:text-sm text-[{{ shade.colors.thirdly }}]/80 font-mono">
                                {{ skill.since.start  }} -> {% if skill.since.end != 0 %} {{ skill.since.end }} {% else %} today {% endif %}
                             </div>
                        {% else %}{% endif %}
                        <div class="text-xs md:text-sm text-[{{ shade.colors.border }}]/80 font-mono">
                            {{ skill.maintainer_site  }}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</body>
</html>
